{% capture to_markdown %}
**{{site.company_name}}**<br>
{% if site.address.street    %}{{site.address.street    }}<br>{% endif %}
{% if site.address.locality  %}{{site.address.locality  }}<br>{% endif %}
{% if site.address.post_code %}{{site.address.post_code }}<br>{% endif %}
{% include link-phone-number.md %}<br>
{% include link-email-address.md %}
{% endcapture %}

<footer>
  {{ to_markdown | markdownify }}
  <br>
  <a href="/privacy">Privacy Policy</a>
  <br>
  <a href="https://stefn.co.uk">site by stef</a>
</footer>
