
<hr>
<h5>Services</h5>
<ul class="service-links">
    {% for service in site.services %}
    <li class="service-links__link">
        {% if service.icon %}
            <i class="service-links__icon icon-{{service.icon}}"></i>
        {% endif %}
        <a class="
            service-links__link
            {% if service.url == page.url %}
                service-links__link--active
            {% endif %}
        " href="{{service.url}}">
            {{service.title}}
        </a>
    </li>
    {% endfor %}
</ul>