
.icon-truck:before { content: '\e800'; } /* '' */
.icon-droplet:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-at:before { content: '\e806'; } /* '' */
.icon-leaf:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-tree:before { content: '\e83f'; } /* '' */
.icon-globe:before { content: '\f019'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-car:before { content: '\f1b9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */